<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">
<head>
    <title>Lista de clientes</title>
</head>
<body>
<div layout:fragment="conteudo">
    <h1>Lista de Clientes</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>NOME</th>
            <th>TELEFONE</th>
            <th>EMAIL</th>
            <th>AÇÕES</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cliente : ${lista}">
            <td th:text="${cliente.id}"></td>
            <td th:text="${cliente.nome}"></td>
            <td th:text="${cliente.telefone}"></td>
            <td th:text="${cliente.email}"></td>
            <td>
                <form th:action="@{'/clientes/' + ${cliente.id}}" method="post" style="display: inline;">
                    <input type="hidden" name="_method" value="delete">
                    <input type="submit" value="Excluir" class="btn-excluir">
                </form>
                <a th:href="@{/clientes/formulario(id=${cliente.id})}" class="btn-editar">Editar</a>
            </td>
        </tr>
        </tbody>
    </table>

    <form method="get" action="/clientes/formulario" style="display: inline;">
        <button class="btn-cadastrar" type="submit">Cadastrar Cliente</button>
    </form>
</div>
</body>
</html>
